extends layout

block content
    h1 go.resonite.com 
    p go.resonite.com is used to link to worlds and sessions from the web. It's home page doesn't have any functionality at the moment.

    p Would you like to 
        a(href="https://resonite.com") Go to our Main Website?

