extends layout

block content
    h1 Home
    p This site is used to link to worlds and sessions from the web. Its home page doesn't have any functionality at the moment.

    p Would you like to
    ul
        li
            a(href="/world") Search for worlds (BETA)
        li
            a(href="/sessions") See the current active public sessions (BETA)
        li
            a(href="https://resonite.com") Go to our Main Website?

