doctype html
html(lang="en")
    head
        title #{title}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property="og:site_name" content="Resonite")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel="preconnect" href="https://api.resonite.com")
        link(rel="preconnect" href="https://assets.resonite.com")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        block head
        style.
            @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body
        header.go-page-header.center
            img(src='/images/resonite.png' alt='Resonite')
        main.go-page-content
            block content
                h1 Placeholder
        footer.go-page-footer
            p.center
                span Copyright © 
                a(href="https://yellowdogman.com/imprint.html") Yellow Dog Man Studios s.r.o.