:root {
  --srch-input-spacing: 8px;
  --srch-form-gap: 8px;
}

.search {
  display: grid;
  grid-template-columns: auto 0;
  grid-template-areas:
    "search-input search-btn"
    "search-other search-other";
  row-gap: var(--srch-form-gap);
  position: relative;
  margin: 16px 0 24px;
}

.search__search-input-block,
.search__search-other-block {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
}

.search__search-input-block {
  grid-area: search-input;
}

.search__search-other-block {
  grid-area: search-other;
}

.search__textinput {
  flex: 1;
  padding: var(--srch-input-spacing);
  padding-right: calc(var(--btn--icon-only-size) + var(--srch-input-spacing));
  margin: 0;
  background: var(--background-alt);
}

.search__textinput::placeholder {
  font-style: italic;
}

.search__btn {
  grid-area: search-btn;
  align-self: center;
  background: none;
}

.search__btn,
.search__btn:active {
  transform: translateX(calc(-100% - var(--srch-input-spacing)));
}
