:root {
  --srch-btn-size: 36px;
  --srch-input-spacing: 8px;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  margin: 16px 0 24px;
}

.search__textinput {
  flex: 1;
  padding: var(--srch-input-spacing);
  padding-right: calc(var(--srch-btn-size) + var(--srch-input-spacing));
  margin: 0;
  background: var(--background-alt)
}

.search__textinput::placeholder {
  font-style: italic;
}

.search__btn {
  position: absolute;
  right: 0;
  width: var(--srch-btn-size);
  height: var(--srch-btn-size);
  padding: 4px;
  margin: 0 var(--srch-input-spacing) 0 0;
  background: none;
}