:root {
  --background-body: #11151d;
  --border-radius: 8px;
}

html, body {
  display: flex;
  height: 100vh;
  margin: 0;
}

html {
  justify-content: center;
}

body {
  flex-direction: column;
  box-sizing: border-box;
  max-width: 820px;
  padding: 20px 10px;
}

.subheading {
  font-size: 1rem;
}

.thumbnail {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Poppins", sans-serif;
}

main {
  flex: 1;
}

footer {
  width: 100%;
}

.btn {
  appearance: button;
  border-radius: 6px;
  height: 100px;
  width: 300px;
  background: #3f9e44;
  text-align: center;
  align-content: center;
  color: #FFF;
  font-size: 2.5em;
}

.btn:hover {
  background: #3f6a47;
  text-decoration: none;
}

.infobox dl {
  list-style-type: disc;
}

.infobox dt, dd{
  display: inline;
}

.infobox dt {
  color: var(--text-bright);
  font-weight: 600;
}

.infobox dd {
  margin-left: 0;
}

.small a {
  font-size: 0.7em;
}