include conditional-a.pug

mixin badge(text, colorName, url)
  li.badge(class=[`badge-${colorName}`, { "badge-clickable": !!url }])
    +conditional-a(url).badge-content
      block
      | #{ text }
