mixin mmcMixin(mmcData)
    section.mmc
        h2
            | MMC 2025 Information
            img(src='/images/CreatorJam.png')
        ul
            li ✅ This world is entered into the MMC 2025!
            if mmcData.categories.length > 0
                li It is entered into the following Categories:
                    ul
                        each category in mmcData.categories
                            li ✅ !{category.title}
            if mmcData.categories.length > 1
                li ❌ It is entered into more than one category.
            if mmcData.categories.length == 0
                li ❌ It is entered into no categories.

    p See #[a(href='https://wiki.resonite.com/MMC_2025') our wiki] for more information on MMC.