mixin mmcMixin(mmcData)
    section.mmc
        h2
            | MMC 2025 Information
            img(src='/images/CreatorJam.png')
        ul
            li ✅ This world is entered into the MMC 2025!
            li It is entered into the following Categories:
                ul
                    each category in mmcData.categories
                        li ✅ !{category.title}
            if mmcData.multipleCategories
                li ❌ It is entered into more than one category, please fix this!