mixin panorama-viewer(imageUrl, fallbackUrl, imageAlt)
  .panorama-viewer
    .panorama-viewer__canvas(data-panorama=imageUrl, data-image-alt=imageAlt)
    img.panorama-viewer__fallback-img(src=fallbackUrl, alt=imageAlt)
